<% if @employees.empty? %>
  <p class="form__table form__table--empty"><i class="bi bi-info-circle"></i>&nbsp;&nbsp;No hay solicitudes para mostrar</p>
<% else %>
  <table class="form__table table table-bordered">
    <thead>
      <tr class="form__table-head">
        <th class="tablet-display">Cédula</th>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td class="form__table-data tablet-display"><%= employee.id_card %></td>
          <td class="form__table-data"><%= employee.name %></td>
          <td class="form__table-data"><%= employee.status%></td>

          <td class="form__table-data">
            <div class="form__table-buttons">
                <%= link_to employee, class: "form__button-view form__button--desktop" do %>
                  <i class="bi bi-eye"></i>&nbsp;Ver
                <% end %>
                <%= button_to change_status_user_account_path(employee), class: "form__button-toggle form__button--desktop", method: :put, data: { turbo_method: :delete, turbo_confirm: "¿Desea cambiar el estado de este usuario?" } do %>
                  <i class="bi bi-toggles"></i>&nbsp;Cambiar estado
                <% end %>
            
                <%= link_to employee, class: "form__button-view form__button--mobile" do %>
                  <i class="bi bi-eye"></i>
                <% end %>
                <%= button_to change_status_user_account_path(employee), class: "form__button-toggle form__button--mobile", method: :put, data: { turbo_method: :delete, turbo_confirm: "¿Desea cambiar el estado de este usuario?" } do %>
                  <i class="bi bi-toggles"></i>
                <% end %>
            </div>    
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>