<main class="main">
  <div class="container form">
    <h1 class="form__heading">Lista de <%= (@role == 'worker' || @role == 1) ? 'trabajadores' : 'administradores' %></h1>
    <hr class="mb-5">

    <div class="user-list__flex">
      <%= search_form_for @query, url: search_user_accounts_path, data: { turbo: false }, class: "user-list__grid" do |f| %>
        <h3 class="form__subheading form__subheading--table text-left">Filtrar:</h3>

        <div class="form__input">
          <%= f.label :status, 'Estado', class: "form__input-label" %>
          <%= f.select :status_eq, options_for_select(UserAccount.all.statuses), { include_blank: "Seleccione el estado" }, class: "form__input-select" %>
          <%= f.hidden_field :role_eq, value: @role %>
        </div>

        <%= f.submit "Buscar", class: "form__button-submit"%>
      <% end %>

      <%= link_to (@role == 'worker' || @role == 1) ? 'Agregar trabajador' : 'Agregar administrador', new_user_account_registration_path(:role => "worker"), class: "form__button-submit" %>
    </div>

    <hr class="mb-5">
    <h3 class="form__subheading form__subheading--table">Tabla de resultados</h3>
    
    <div id="employees">
      <%= render partial: 'user_accounts/employee_list', locals: { employees: @employees } %>
    </div>
  </div>
</main>