<main class="main" id="<%= dom_id @user_account %>">
  <div class="container form">
    <h1 class="form__heading">Información del <%= @user_account.role == "worker" ? "trabajador" : "administrador" %></h1>
    <hr class="mb-5">

    <div class="grid-columns-2">
      <div class="form__input">
        <label for="name" class="form__input-label">Nombre completo</label>
        <input type="text" id="name" class="form__input-textfield" value="<%= @user_account.name %>" disabled>
      </div>

      <div class="form__input">
        <label for="id_card" class="form__input-label">Número de cédula</label>
        <input type="text" id="id_card" class="form__input-textfield" value="<%= @user_account.id_card %>" disabled>
      </div>
    </div>

    <div class="grid-columns-3">
      <div class="form__input">
        <label for="email" class="form__input-label">Correo electrónico</label>
        <input type="text" id="email" class="form__input-textfield" value="<%= @user_account.email %>" disabled>
      </div>

      <div class="form__input">
        <label for="" class="form__input-label">Sede de trabajo</label>
        <input type="text" id="" class="form__input-textfield" value="<%= @user_account.campus.name %>" disabled>
      </div>

      <div class="form__input">
        <label for="" class="form__input-label">Estado</label>
        <input type="text" id="" class="form__input-textfield" value="<%= @user_account.status %>" disabled>
      </div>
    </div>

    <%= link_to "Regresar", :back, class: "form__button-back mt-5" %>
  </div>
</main>