<% if @employees.empty? %>
  <div class="text-center py-5">
    <p class="fst-italic fs-sm"><i class="bi bi-info-circle"></i>&nbsp;&nbsp;No hay solicitudes para mostrar</p>
  </div>
<% else %>
  <table class="table table-bordered">
    <thead>
      <tr style="background-color: var(--light-color-hover);" class="text-center custom-border">
        <th class="tablet-display">N° Cédula</th>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr class="text-center custom-border">
          <td class="py-3 tablet-display"><%= employee.employee_id_card %></td>
          <td class="py-3"><%= employee.user_account.name %></td>
          <td class="py-3"><%= employee.employee_status%></td>
          <td class="py-3">
            <div class="report-actions">
              <%= link_to "Ver", employee, class: "btn-default btn-submit desktop-display" %>

              <%= link_to employee, class: "btn-default btn-submit mobile-display" do %>
                <i class="bi bi-eye"></i>
              <% end %>


              <%= link_to "Editar", edit_employee_path(employee), class: "btn-default btn-dark desktop-display" %>

              <%= link_to edit_employee_path(employee), class: "btn-default btn-dark mobile-display" do %>
                <i class="bi bi-pencil-square"></i>
              <% end %>


              <%= link_to "Eliminar", employee, method: :delete,data: { turbo_method: :delete, turbo_confirm: "¿Desear eliminar este registro?" }, class: "btn-default btn-danger desktop-display"%>

              <%= link_to employee, method: :delete,data: { turbo_method: :delete, turbo_confirm: "¿Desear eliminar este registro?" }, class: "btn-default btn-danger mobile-display" do %>
                <i class="bi bi-trash"></i>
              <% end %>
            </div>    
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>