<main class="main main-form container">
  <h1 class="text-center mb-1 uppercase">Lista de <%= @type == 'worker' ? 'empleados' : 'administradores' %></h1>
  <hr class="mb-1">

  <div class="status-flex">
    <%= search_form_for @query, url: search_employees_path, class: "status-form", data: { turbo: false } do |f| %>
      <h3 class="filters-title fw-bold mt-5 mb-3 fs-rg">Filtrar:</h3>
    
      <div class="input">
          <%= f.label :employee_status, 'Estado' %>
          <%= f.select :employee_status_eq, options_for_select(Employee.all.employee_statuses), {include_blank: "Seleccione el estado"}, class: "form-select" %>
          <%= f.hidden_field :employee_type_eq, value: @type %>
      </div>

      <%= f.submit "Buscar", class: "btn-default btn-submit"%>
    <% end %>

    <%= link_to "Agregar empleado", new_employee_path(:type => "worker"), class: "btn-default btn-submit" %>
  </div>

  <hr class="mb-3 mt-negative-1">
  <h3 class="py-4 fs-rg">Tabla de resultados</h3>

  <%= render partial: 'employees/employee_list', locals: { employees: @employees} %>
</main>