<main class="main">
  <div class="container">
    <%= render "user_accounts/shared/error_messages", resource: resource %>
  </div>

  <div class="container main-form form-pad-lg bg-mandala">
    <h1 class="mb-5 uppercase">Cambiar contraseña</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="input input-50">
        <%= f.label "Correo electrónico" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", readonly: true  %>
      </div>

      <!--<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="input input-50">
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          </div>
      <% end %>-->

      <div class="input input-50">
        <%= f.label "Nueva contraseña" %> <span class="text-danger">*</span>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Nueva contraseña"%>
      </div>

      <div class="input input-50">
        <%= f.label "Confirme la nueva contraseña"%> <span class="text-danger">*</span>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirme la nueva contraseña" %>
      </div>

      <div class="input input-50">
        <%= f.label "Contraseña actual" %> <span class="text-danger">*</span>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Contraseña actual"%>
      </div>

      <div class="button-group form-buttons mt-5">
        <%= f.submit "Actualizar", class: "btn-default btn-submit" %>
        <%= link_to "Regresar", root_path, class: "btn-default btn-back" %>
      </div>
    <% end %>
  </div>
</main>