<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "user_accounts/shared/error_messages", resource: resource %>

  <div class="form-group mb-3">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  <div class="form-group mb-3">
    <%= f.label "Nombre completo" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group mb-3">
    <p>
      <%= f.label "Número de cédula", style: "display: block" %>
      <%= f.text_field :id_card, class: "form-control" %>
    </p>
  </div>
  <div class="form-group d-none">
    <p>
      <%= f.label "Tipo de empleado", style: "display: block" %>
      <%= f.text_field :role, readonly: true,class: "form-control" %>
    </p>
  </div>
  <div>
    <p>
      <%= f.label "Estado del empleado", style: "display: block" %>
    </p>
    <div class="container mb-3">
      <div class="form-check">
        <%= f.label :status, "Activo", :value => "active" %>
        <%= f.radio_button :status, "Activo", :value => "active", class: "form-check-input", type: "radio" %>
      </div>
      <div class="form-check">
        <%= f.label :status, "Inactivo", :value => "inactive" %>
        <%= f.radio_button :status, "Inactivo", :value => "inactive", class: "form-check-input", type: "radio", :checked => true %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "user_accounts/shared/links" %>
