<main class="main">
  <div class="container">
    <%= render "user_accounts/shared/error_messages", resource: resource %>
  </div>

  <div class="container form form--mandala">
    <h1 class="form__heading--mandala" id="form__heading">Nuevo empleado</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form__input--mandala">
        <%= f.label "Nombre completo", class: "form__input-label" %>
        <%= f.text_field :name, placeholder: "Nombre completo", class: "form__input-textfield" %>
      </div>

      <div class="form__input--mandala">
        <%= f.label "Número de cédula", class: "form__input-label" %>
        <%= f.text_field :email, placeholder: "Número de cédula", class: "form__input-textfield" %>
      </div>

      <div class="form__input--mandala">
        <%= f.label "Correo electrónico", class: "form__input-label" %>
        <%= f.text_field :email, placeholder: "Correo electrónico", class: "form__input-textfield" %>
      </div>

      <div class="form__input--mandala">
        <label id="employee-status" class="form__input-label">Estado del empleado</label>
        <div class="form__check-group">
          <% if resource.status == "Activo" %>
            <div class="form__input-radio">
              <%= f.label :status, "Activo", :value => "active" %>
              <%= f.radio_button :status, "Activo", type: "radio", :checked => true %>
            </div>
          
            <div class="form__input-radio">
              <%= f.label :status, "Inactivo", :value => "inactive" %>
              <%= f.radio_button :status, "Inactivo", type: "radio" %>
            </div>
          <% else %>
            <div class="form__input-radio">
              <%= f.label :status, "Activo", :value => "active" %>
              <%= f.radio_button :status, "Activo", type: "radio" %>
            </div>
          
            <div class="form__input-radio">
              <%= f.label :status, "Inactivo", :value => "inactive" %>
              <%= f.radio_button :status, "Inactivo", type: "radio", :checked => true %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="button-group">
        <%= f.submit "Agregar empleado", class: "form__button-submit", id: "add-button" %>
        <%= link_to "Regresar", root_path, class: "form__button-back" %>
      </div>
    <% end %>
  </div>
</main>

<script>
  if (window.location.href.indexOf("admin") > -1) {
    document.getElementById("form__heading").innerHTML = "Nuevo administrador";
    document.getElementById("employee-status").innerHTML = "Estado del administrador";
    document.getElementById("add-button").value = "Agregar administrador";
  }
</script>