<div class="container mt-3 mb-3 p-3">
  <div class="row">
    <h1 class="text-center"><%= (current_user_account.role == "admin") ? "Modificar asigaciones" : "Trabajo asignado" %></h1>
  </div>
  <div class="row">
    <h2 class="text-center">Solicitud <%= @request.id %></h2>
  </div>
  <div class="m-3">
    <% if current_user_account.role == "worker" %>
      <div class="row">
        <%= render "/tasks/employee_views/employee_view" %>
      </div>
    <% else %>
      <div class="row">
        <%= render "/tasks/admin_views/admin_view" %>
      </div>
    <% end %>
  </div>
  <div class="m-3">
    <%= link_to "Volver a la lista de solicitudes", requests_path, class: "btn btn-primary" %>
  </div>
</div>
