<%= render 'requests/shared_views/request-summary', request: @request %>

<% if @request.status == "in_process" %>
  <hr class="my-4">
  <h3 class="form__subheading fw-bold pb-4">Editar asignaciones</h3>
  
  <div id="remove-employees">
    <h3 class="form__subheading form__subheading--table text-left fw-normal">Trabajadores asignados</h3>
    <%= render "/tasks/admin_views/employee_list", task: @task, request: @request, list_type: "remove" %>
  </div>

  <div id="add-employees" class="mt-5 pt-2">
    <h3 class="form__subheading form__subheading--table text-left fw-normal">Trabajadores no asignados</h3>
    <%= render "/tasks/admin_views/employee_list", task: @task, request: @request, list_type: "add" %>
  </div>
<% end %>

<hr class="mt-5 mb-3">
<h3 class="form__subheading fw-bold">Historial de observaciones</h3>  

<div class="mt-3">
  <%= render 'tasks/shared_views/observations' %>
</div>

<hr class="mt-5 mb-3">
<h3 class="form__subheading fw-bold pb-4">Bitácora de cambios</h3> 

<%= render 'requests/admin_views/request_log' %>

<% if @request.status == "completed" %>
  <%= render 'requests/admin_views/request_reasons', request: @request, type: "reopen" %>
  <hr class="mt-5 mb-3">
<% end %>

<div class="button-group">
  <%= link_to "Regresar", :back, class: "form__button-back" %>
</div>