<%= form_with(model: task) do |f| %>
  <table class="form__table table table-bordered">
    <thead>
      <tr class="form__table-head">
        <th>Cédula</th>
        <th>Nombre completo</th>
        <th><%= list_type == "add" ? "Asignar" : "Remover" %></th>
      </tr>
    </thead>

    <tbody>
      <% if list_type == "add" %>
        <% @not_working_employees.each do |employee| %>
          <%= render "/tasks/admin_views/table_col", employee: employee, list_type: list_type %>
        <% end %>
      <% else %>
        <% @working_employees.each do |employee| %>
          <%= render "/tasks/admin_views/table_col", employee: employee, list_type: list_type %>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <% if @request.status != "completed" && @request.status != "closed" %>
    <%= f.hidden_field :request_id, value: request.id %>
    
    <div class="button-group flex-end mt-4">
      <%= button_tag(class: "form__button-submit") do %>
        <% if list_type == "add" %>
          Asignar trabajador(es)
        <% else %>
          Remover trabajador(es)
        <% end %>
      <% end %>

      <%= link_to "Regresar", :back, class: "form__button-back", id: "d-none", style: "display: none;" %>
    </div>
  <% end %>
<% end %>