<%= form_with(model: request) do |form| %>
  <div class="form" data-controller="select" data-select-hidden-class="hidden">
    <h3 class="text-center py-5 pb-5 fs-rg">Información del Solicitante</h3>

    <div class="form-grid-1">
      <div class="input">
        <%= form.label "Número de identificación" %>
        <%= form.text_field :requester_id, placeholder: "Número de identificación" %>
      </div>

      <div class="input">
        <%= form.label "Nombre completo" %>
        <%= form.text_field :requester_name, placeholder: "Nombre completo" %>
      </div>

      <div class="input">
        <%= form.label "Dirección de correo electrónico" %>
        <%= form.text_field :requester_mail, placeholder: "Correo electrónico" %>
      </div>

      <div class="input">
        <%= form.label "Sede" %>
        <%= form.select :campus_id, @campuses_list.all.collect{|c| [c.name, c.id]}, {} %>
      </div>
    </div>

    <div class="form-grid-2">
      <div class="input">
        <%= form.label "Extensión telefónica" %>
        <%= form.text_field :requester_extension, placeholder: "Ej: +506" %>
      </div>
      
      <div class="input">
        <%= form.label "Número telefónico" %>
        <%= form.text_field :requester_phone, placeholder: "Número telefónico" %>
      </div>

      <div class="input">
        <%= form.label "Tipo de solicitante" %>
        <%= form.select :requester_type, options_for_select(@dictionary.requesterTypes.invert.each), {}, data: { select_target: "select", action: "select#select" } %>
      </div>
    </div>

    <div class="form-grid-3" data-select-target="hidden">
      <div class="input">
        <%= form.label "Carné de estudiante" %>
        <%= form.text_field :student_id, placeholder: "Número de carné" %>
      </div>
      
      <div class="input">
        <%= form.label "Dependencia estudiantil" %>
        <%= form.select :student_association, options_for_select(@dictionary.studentAssociations.invert.each), {} %>
      </div>
    </div>

    <hr class="mb-3">
    <h3 class="text-center my-5 py-3 fs-rg">Información del trabajo a solicitar</h3>

    <div data-controller="select" data-select-hidden-class="hidden" class="form-grid-4">
      <div class="input">
        <%= form.label "Zona" %>
        <%= form.select :work_building, options_for_select(@dictionary.workBuildings.invert.each), {}, data: { select_target: "select", action: "select#select" } %>
      </div>

      <div class="input" id="work_building" data-select-target="hidden">
        <%= form.label "Descripción de la zona" %>
        <%= form.text_field :work_building, id: "work-building-field", data: { select_target: "field" }, placeholder: "Indique la zona" %>
      </div>

      <div class="input">
        <%= form.label "Lugar" %>
        <%= form.text_field :work_location, placeholder: "Lugar del trabajo" %>
      </div>
    </div>

    <div data-controller="select" data-select-hidden-class="hidden" class="form-grid-5">
      <div class="input">
        <%= form.label "Tipo de trabajo" %>
        <%= form.select :work_type, options_for_select(@dictionary.workTypes.invert.each), {}, data: { select_target: "select", action: "select#select" } %>
      </div>

      <div class="input" id="work_type" data-select-target="hidden">
        <%= form.label "Descripción del tipo de trabajo" %>
        <%= form.text_field :work_type, id: "work-type-field", data: { select_target: "field" }, placeholder: "Indique el tipo de trabajo" %>
      </div>

      <div class="input">
        <%= form.label "Descripción" %>
        <%= form.text_area :work_description, rows: "8" %>
      </div>
    </div>

    <div class="button-group form-buttons pt-4">
      <%= form.submit "Enviar solicitud", class: "btn-default btn-submit" %>
      <%= link_to "Regresar", root_path, class: "btn-default btn-back" %>
    </div>
  </div>
<% end %>
