<%= form_with(model: request) do |form| %>
  <% if request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>
      <ul>
        <% request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container mt-3 pt-5 pb-5 ps-5 pe-5 border border-2 rounded-3">
    <h4 class="text-center">Información del solicitante</h4>
    <div>
      <p>
        <%= form.label "Nombre completo", style: "display: block" %>
        <%= form.text_field :requester_name, class: "form-control" %>
      </p>
    </div>
    <div>
      <p>
        <%= form.label "Sede", style: "display: block" %>
        <%= form.select :campus_id, @campuses_list.all.collect { |c| [c.name, c.id] }, {}, class: "form-select" %>
      </p>
    </div>
    <div>
      <p>
        <%= form.label "Extensión telefónica", style: "display: block" %>
        <%= form.text_field :requester_extension, class: "form-control" %>
      </p>
    </div>
    <div>
      <p>
        <%= form.label "Número telefónico", style: "display: block" %>
        <%= form.text_field :requester_phone, class: "form-control" %>
      </p>
    </div>
    <div>
      <p>
        <%= form.label "Número de identificación", style: "display: block" %>
        <%= form.text_field :requester_id, class: "form-control" %>
      </p>
    </div>
    <div>
      <p>
        <%= form.label "Dirección de correo electrónico", style: "display: block" %>
        <%= form.email_field :requester_mail, class: "form-control" %>
      </p>
    </div>
    <div data-controller="select" data-select-hidden-class="hidden">
      <div>
        <p>
          <%= form.label "Tipo de solicitante", style: "display: block" %>
          <%= form.select :requester_type, options_for_select(@dictionary.requesterTypes.invert.each), {}, data: { select_target: "select", action: "select#select" }, class: "form-select" %>
        </p>
      </div>
      <div data-select-target="hidden">
        <div>
          <p>
            <%= form.label "Carnet de estudiante", style: "display: block" %>
            <%= form.text_field :student_id, class: "form-control" %>
          </p>
        </div>
        <div>
          <p>
            <%= form.label "Dependencia estudiantil", style: "display: block" %>
            <%= form.select :student_association, options_for_select(@dictionary.studentAssociations.invert.each), {}, class: "form-select" %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3 pt-5 pb-5 ps-5 pe-5 border border-2 rounded-3">
    <p>Información del trabajo a solicitud</p>
    <div data-controller="dropdown">
      <div>
        <p>
          <%= form.label "Edificio", style: "display: block" %>
          <%= form.select :work_building, "", {}, data: { action: "dropdown#workBuilding" }, class: "form-select" %>
        </p>
        <p>
          <%= form.label "Locación", style: "display: block" %>
          <%= form.select :work_location_id, "", {}, class: "form-select" %>
        </p>
      </div>
    </div>
    <div data-controller="select" data-select-hidden-class="hidden">
      <%= form.label "Tipo de trabajo", style: "display: block" %>
      <div class="grid-container">
        <div class="grid-item">
          <%= form.select :work_type, options_for_select(@dictionary.workTypes.invert.each), {}, data: { select_target: "select", action: "select#select" }, class: "form-select" %>
        </div>
        <div class="grid-item mt-2" id="work_type" data-select-target="hidden">
          <%= form.text_field :work_type, id: "work-type-field", data: { select_target: "field" }, class: "form-control" %>
        </div>
      </div>
    </div>
    <div>
      <p>
        <%= form.label "Tipo de trabajo", style: "display: block" %>
        <%= form.text_area :work_description, class: "form-control" %>
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= form.submit "Crear solicitud", class: "btn btn-sm btn-primary" %>
  </div>
<% end %>
