<div class="navegation-tabs">
  <ul class="navegation-tabs__list" role="tablist">
    <% if current_user_account.role == "admin" %>
      <li class="navegation-tabs__item" role="presentation">
        <%= link_to "Pendientes", requests_path(:status => "pending"), class: (@status == "pending" ? "navegation-tabs__link navegation-tabs__link--active" : "navegation-tabs__link"), data: { "toggle" => "tab" } %>
      </li>
    <% end %>
    <li class="navegation-tabs__item" role="presentation">
      <%= link_to (current_user_account.role == "admin" ? "En proceso" : "Asignados"), requests_path(:status => "in_process"), class: (@status == "in_process" ? "navegation-tabs__link navegation-tabs__link--active" : "navegation-tabs__link") %>
    </li>
    <li class="navegation-tabs__item" role="presentation">
      <%= link_to "Finalizadas", requests_path(:status => "completed"), class: (@status == "completed" ? "navegation-tabs__link navegation-tabs__link--active" : "navegation-tabs__link") %>
    </li>
    <li class="navegation-tabs__item" role="presentation">
      <%= link_to "Cerradas", requests_path(:status => "closed"), class: (@status == "closed" ? "navegation-tabs__link navegation-tabs__link--active" : "navegation-tabs__link") %>
    </li>
    <% if current_user_account.role == "admin" %>
      <li class="navegation-tabs__item" role="presentation">
        <%= link_to "Rechazadas", requests_path(:status => "denied"), class: (@status == "denied" ? "navegation-tabs__link navegation-tabs__link--active" : "navegation-tabs__link") %>
      </li>
    <% end %>
  </ul>
</div>

