<% if @requests.first.nil? %>
  <div class="text-center py-5 custom-border">
    <p class="fst-italic fs-sm"><i class="bi bi-info-circle"></i>&nbsp;&nbsp;No hay solicitudes para mostrar</p>
  </div>
<% else %>
  <table class="table table-bordered">
    <thead>
      <tr style="background-color: var(--light-color-hover);" class="text-center custom-border">
        <th>Número</th>
        <th>Fecha</th>
        <th class="tablet-display">Edifio</th>
        <th class="desktop-display">Sitio</th>
        <th class="desktop-display">Solicitante</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @requests.each do |request| %>
        <tr class="text-center custom-border">
          <td class="py-3"><%= request.id %></td>
          <td class="py-3"><%= request.created_at.strftime("%d/%m/%Y") %></td>
          <td class="py-3 tablet-display">
            <% if !@dictionary.workBuildings[request.work_building.to_sym].nil? %>
              <%= @dictionary.workBuildings[request.work_building.to_sym] %>
            <% else %>
              <%= request.work_building %>
            <% end %>
          </td>
          <td class="py-3 desktop-display"><%= request.work_location %></td>
          <td class="py-3 desktop-display"><%= request.requester_name %></td>
          <td class="py-3">
            <div class="report-actions">
              <%= link_to request, class: "btn-default btn-dark desktop-display" do %>
                Ver
              <% end %>
              <%= link_to request, class: "btn-default btn-dark mobile-display" do %>
                <i class="bi bi-eye"></i>
              <% end %>
              <% if current_user_account.role == "admin" %>
                <%= render "requests/admin_views/admin_request_actions", request: request %>
              <% else %>
                <%= render "requests/employee_views/employee_request_actions", request: request %>
              <% end %> 
            </div>    
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
