<% if @requests.first.nil? %>
  <p class="text-center">No hay solicitudes para mostrar</p>
<% else %>
  <table class="table table-hover table-sm">
    <thead>
    <tr>
      <th class="table-header text-center" scope="col">Consecutivo</th>
      <th class="table-header text-center" scope="col">Fecha solicitud</th>
      <th class="table-header text-center" scope="col">Edificio</th>
      <th class="table-header text-center" scope="col">Sitio</th>
      <th class="table-header text-center" scope="col">Solicitante</th>
      <th class="table-header text-center" scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td class="text-center"><%= request.identifier %></td>
        <td class="text-center"><%= request.created_at.strftime("%d/%m/%Y") %></td>
        <td class="text-center"><%= request.request_location.work_building.name %></td>
        <td class="text-center"><%= request.request_location.name %></td>
        <td class="text-center"><%= request.requester_name %></td>
        <td class="text-center">
          <div class="container">
            <div class="row">
              <div class="col">
                <%= link_to request, class: "btn btn-sm btn-primary" do %>
                  <i class="bi bi-eye"></i>
                  Ver
                <% end %>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
