<% if @requests.nil? %>
  <p class="form__table form__table--empty"><i class="bi bi-info-circle"></i>&nbsp;&nbsp;Realiza la búsqueda utilizando los filtros</p>
<% else %>
  <table class="form__table table table-bordered">
    <thead>
      <tr class="form__table-head">
        <th>Código</th>
        <th>Fecha</th>
        <th class="tablet-display">Edificio</th>
        <th class="desktop-display">Sitio</th>
        <th class="desktop-display">Solicitante</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td class="form__table-data"><%= request.identifier %></td>
          <td class="form__table-data"><%= request.created_at.strftime("%d/%m/%Y") %></td>
          <td class="form__table-data tablet-display"><%= request.request_location.work_building.name %></td>
          <td class="form__table-data desktop-display"><%= request.request_location.name %></td>
          <td class="form__table-data desktop-display"><%= request.requester_name %></td>

          <td class="form__table-data">
            <div class="form__table-buttons">
                <%= link_to "Ver", request, class: "form__table-button-view form__table-button--desktop" %>

                <%= link_to request, class: "form__table-button-view form__table-button--mobile" do %>
                  <i class="bi bi-eye"></i>
                <% end %>
            </div>    
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
