<% if @requests.first.nil? %>
  <p  class="text-center">No hay solicitudes para mostrar</p>
<% else %>
  <table class="table table-hover table-bordered">
    <thead>
      <tr style="background-color: #D9D9D9;" class="text-center">
        <th>Consecutivo</th>
        <th>Fecha</th>
        <th>Edifio</th>
        <th>Sitio</th>
        <th>Solicitante</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @requests.each do |request| %>
        <tr class="text-center">
          <td class="py-3"><%= request.id %></td>
          <td class="py-3"><%= request.created_at.strftime("%d/%m/%Y") %></td>
          <td class="py-3">
            <% if !@dictionary.workBuildings[request.work_building.to_sym].nil? %>
              <%= @dictionary.workBuildings[request.work_building.to_sym] %>
            <% else %>
              <%= request.work_building %>
            <% end %>
          </td>
          <td class="py-3"><%= request.work_location %></td>
          <td class="py-3"><%= request.requester_name %></td>
          <td class="py-3">
            <div class="buttons-group">
              <%= link_to request, class: "btn-default btn-view" do %>
                Ver
              <% end %>
              <% if current_user_account.role == "admin" %>
                <%= render "requests/admin_views/admin_request_actions", request: request %>
              <% else %>
                <%= render "requests/employee_views/employee_request_actions", request: request %>
              <% end %>  
            </div>    
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
