<table class="form__table table table-bordered">
  <thead>
    <tr class="form__table-head">
      <th>Código</th>
      <th>Fecha</th>
      <th class="tablet-display">Edificio</th>
      <th class="desktop-display">Sitio</th>
      <th class="desktop-display">Solicitante</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% if !@requests.nil? %>
      <% @requests.each do |request| %>
        <tr>
          <td class="form__table-data"><%= request.identifier %></td>
          <td class="form__table-data"><%= request.created_at.strftime("%d/%m/%Y") %></td>
          <td class="form__table-data tablet-display"><%= request.request_location.work_building.name %></td>
          <td class="form__table-data desktop-display"><%= request.request_location.name %></td>
          <td class="form__table-data desktop-display"><%= request.requester_name %></td>

          <td class="form__table-data">
            <div class="form__table-buttons">
              <%= link_to request, class: "form__table-button-view form__table-button--desktop" do %>
                <i class="bi bi-eye"></i>&nbsp;Ver
              <% end %>

              <%= link_to request, class: "form__table-button-view form__table-button--mobile" do %>
                <i class="bi bi-eye"></i>
              <% end %>
              
              <% if current_user_account.role == "admin" %>
                <%= render "requests/admin_views/admin_request_actions", request: request %>
              <% else %>
                <%= render "requests/employee_views/employee_request_actions", request: request %>
              <% end %>
            </div>    
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
