<h3 class="form__subheading">Información de la solicitud</h3>  

<div class="grid-columns-2">
  <div class="form__input">
    <label for="request_id" class="form__input-label">Código de solicitud</label>
    <input type="text" id="request_id" value="<%= request.identifier %>" class="form__input-textfield" disabled>
  </div>

  <div class="form__input">
    <label for="request_status" class="form__input-label">Estado de la solicitud</label>
    
    <% case request.status 
      when "in_process" %> <input type="text" id="request_status" value="Solicitud en proceso" class="form__input-textfield form__input-text form__input-text--inprocess" disabled>
      <% when "completed" %> <input type="text" id="request_status" value="Solicitud finalizada" class="form__input-textfield form__input-text form__input-text--completed" disabled>
      <% when "closed" %> <input type="text" id="request_status" value="Solicitud cerrada" class="form__input-textfield form__input-text form__input-text--closed" disabled>
      <% when "denied" %> <input type="text" id="request_status" value="Solicitud rechazada" class="form__input-textfield form__input-text form__input-text--denied" disabled>
      <% else %> <input type="text" id="request_status" value="Solicitud pendiente" class="form__input-textfield form__input-text form__input-text--pending" disabled>
    <% end %>
  </div>
</div>

<hr class="mb-3">
<h3 class="form__subheading">Información del solicitante</h3> 

<div class="<%= current_user_account ? "grid-columns-2" : "grid-columns-3" %>">
  <div class="form__input">
    <label for="requester_id" class="form__input-label">Cédula del solicitante</label>
    <input type="text" id="requester_id" class="form__input-textfield" value="<%= request.requester_id %>" disabled>
  </div>

  <div class="form__input">
    <label for="requester_name" class="form__input-label">Nombre del solicitante</label>
    <input type="text" id="requester_name" class="form__input-textfield" value="<%= request.requester_name %>" disabled>
  </div>

  <% if !current_user_account %>
    <div class="form__input">
      <label for="requester_email" class="form__input-label">Correo electrónico</label>
      <input type="text" id="requester_email" class="form__input-textfield" value="<%= request.requester_mail %>" disabled>
    </div>
  <% end %>
</div>

<div class="<%= request.requester_type != "student" ? "grid-columns-2" : "grid-columns-3" %>">
  <% if current_user_account %>
    <div class="form__input">
      <label for="requester_email" class="form__input-label">Correo electrónico</label>
      <input type="text" id="requester_email" class="form__input-textfield" value="<%= request.requester_mail %>" disabled>
    </div>

    <% if request.requester_type != "student" %>
      <div class="form__input">
        <label for="requester_type" class="form__input-label">Tipo de solicitante</label>
        <input type="text" id="requester_type" class="form__input-textfield" value="<%= @dictionary.requesterTypes[request.requester_type.to_sym] %>" disabled>
      </div>
    <% end %>

    <div class="form__input">
      <label for="requester_email" class="form__input-label">Número telefónico</label>
      <input type="text" id="requester_email" class="form__input-textfield" value="<%= request.requester_phone %>" disabled>
    </div>

    <div class="form__input">
      <label for="requester_email" class="form__input-label">Extensión telefónica</label>
      <input type="text" id="requester_email" class="form__input-textfield" value="<%= request.requester_extension %>" disabled>
    </div>

    <% if request.requester_type == "student" %>
      <div class="form__input">
        <label for="requester_type" class="form__input-label">Tipo de solicitante</label>
        <input type="text" id="requester_type" class="form__input-textfield" value="<%= @dictionary.requesterTypes[request.requester_type.to_sym] %>" disabled>
      </div>

      <div class="form__input">
        <label for="student_id" class="form__input-label">Carné del solicitante</label>
        <input type="text" id="student_id" class="form__input-textfield" value="<%= request.student_id %>" disabled>
      </div>

      <div class="form__input">
        <label for="requester_email" class="form__input-label">Dependencia estudiantil</label>
        <input type="text" id="requester_email" class="form__input-textfield" value="<%= @dictionary.studentAssociations[request.student_association.to_sym] %>" disabled>
      </div>
    <% end %>
  <% end %>
</div>

<hr class="mb-3">
<h3 class="form__subheading">Información del trabajo solicitado</h3> 

<div class="grid-columns-2">
  <div class="form__input">
    <label for="campus" class="form__input-label">Sede</label>
    <input type="text" id="campus" class="form__input-textfield" value="<%= request.campus.name %>" disabled>
  </div>

  <div class="form__input">
    <label for="building" class="form__input-label">Edificio</label>
    <input type="text" id="building" class="form__input-textfield" value="<%= request.request_location.work_building.name %>" disabled>
  </div>

  <div class="form__input">
    <label for="location" class="form__input-label">Lugar del trabajo</label>
    <input type="text" id="location" class="form__input-textfield" value="<%= request.request_location.name %>" disabled>
  </div>

  <div class="form__input">
    <label for="work_type" class="form__input-label">Tipo de trabajo solicitado</label>
    <input type="text" id="work_type" class="form__input-textfield" value="<%= !@dictionary.workTypes[request.work_type.to_sym].nil? ? @dictionary.workTypes[request.work_type.to_sym] : request.work_type %>" disabled>
  </div>
</div>

<div class="form__input">
  <label for="work_description" class="form__input-label">Descripción del trabajo</label>
  <textarea id="work_description" class="form__input-textarea" rows="6" disabled><%= request.work_description %></textarea>
</div>

<% if !@edit && !(request.task_observations).empty? %>
  <hr class="mt-5 mb-3">
  <h3 class="form__subheading fw-bold pb-4">Historial de observaciones</h3>
     
  <div class="form__input">
    <%= render 'tasks/shared_views/observation_list' %>
  </div>
<% end %>

<% if !request.log_entries.empty? && current_user_account %>
  <hr class="mt-5 mb-3">
  <h3 class="form__subheading fw-bold pb-4">Bitácora de cambios</h3>   
  <%= render 'requests/admin_views/request_log' %>
<% end %>

<% if request.status == "denied" %>
  <hr class="mt-5 mb-3">
  <h3 class="form__subheading fw-bold pb-4">Razones de rechazo de solicitud</h3> 
  
  <div class="form__input">
    <label for="reasons" class="form__input-label">Razones de rechazo</label>
    <textarea id="reasons" rows="5" class="form__input-textarea" disabled>
      <% @reasons.each do |reason| %>
        &bull;&nbsp;&nbsp;<%= reason.reason %>
      <% end %>
    </textarea>
  </div>
<% end %>