<main class="main">
  <div class="container form form--mandala">
    <h1 class="form__heading--mandala">Consultar estado de solicitud</h1>

    <%= form_with(scope: :session, url: ask_state_path, local: true) do |form| %>
      <div id="requester_information">
        <div class="form__input--mandala">
          <%= form.label "C贸digo de la solicitud", class: "form__input-label" %>
          <%= form.text_field :identifier, placeholder: "C贸digo de solicitud", class: "form__input-textfield" %>
        </div>

        <div class="form__input--mandala">
          <%= form.label "Correo electr贸nico", class: "form__input-label" %>
          <%= form.email_field :requester_mail, placeholder: "Correo electr贸nico", class: "form__input-textfield" %>
        </div>

        <div class="button-group">
          <%= form.submit "Consultar", class: "form__button-submit" %>
          <%= link_to "Regresar", root_path, class: "form__button-back" %>
        </div>
      </div>
    <% end %>
  </div>
</main>