<main class="main">
  <div class="container main-form form-pad-lg bg-mandala">
    <h1 class="mb-5">Consultar estado de solicitud</h1>

    <%= form_with(scope: :session, url: ask_state_path, local: true) do |form| %>
      <div class="input input-50">
        <%= form.label "Ingrese el número de la solicitud", style: "display: block" %>
        <%= form.number_field :request_number, placeholder: "Número de solicitud" %>
      </div>

      <div class="input input-50">
        <%= form.label "Correo electrónico" %>
        <%= form.text_field :email, placeholder: "Correo" %>
      </div>

      <div class="button-group form-buttons">
        <%= form.submit "Consultar", class: "btn-default btn-submit" %>
        <%= link_to "Regresar", root_path, class: "btn-default btn-back" %>
      </div>
    <% end %>
  </div>
</main>
