<main class="main">
  <div class="container main-form">
    <h1 class="text-center mb-1 uppercase">Reporte de solicitudes</h1>

    <hr class="mb-3">

    <%= search_form_for @q = Request.ransack(params[:q]), url: search_requests_path, data: { turbo: false }, remote: true do |f| %>
      <h3 class="filters-title fw-bold py-4 my-4 fs-rg">Filtros:</h3>
      
      <div class="search-grid">
        <div class="input">
          <% @dictionary = Dictionary.new %>
          <%= f.label :status, 'Estado' %>
          <%= f.select :status_eq, options_for_select(@dictionary.requestStatuses.invert().each()), {include_blank: "Seleccione el estado a buscar"}, class: "form-select" %>
        </div>

        <div class="input">
          <%= f.label 'Desde' %>
          <%= f.text_field :created_at_gteq, class: "form-control", type:"date" %>
        </div>

        <div class="input">
          <%= f.label 'Hasta' %>
          <%= f.text_field :created_at_lteq, class: "form-control", type:"date" %>
        </div>

        <div class="search-buttons">
          <%= f.submit "Buscar", class: "btn-default btn-submit" %>
        </div>
      </div>
    <% end %>

    <hr class="mt-5 mb-3">

    <div id="requests" class="request-table">
      <% if @requests %>
        <h3 class="filters-title fw-bold py-4 my-4 fs-rg">Resultados: <span class="fw-normal"><%= @requests.size %></span></h3>
        
        <div class="table">
          <%= render partial: 'request_list', locals: {requests: @requests} %>
        </div>
      <% else %>
        <div class="text-center mt-5 pt-2">
          <p class="fst-italic text-muted"><i class="bi bi-info-circle"></i>&nbsp;&nbsp;Realiza la búsqueda utilizando los filtros</p>
        </div>
      <% end %>
    </div>

    <div class="reports-form-btn mt-5 pt-3">
      <%= link_to :back, class: "btn-default btn-back" do %>
        Regresar
      <% end %>
    </div>
  </div>
</main>