<main class="main">
  <div class="container form">
    <h1 class="form__heading">Reporte de solicitudes</h1>
    <hr class="mb-3">

    <%= search_form_for @q = Request.ransack(params[:q]), url: search_requests_path, data: { turbo: false }, remote: true do |f| %>
      <h3 class="form__subheading form__subheading--table text-left">Filtros:</h3>

      <div class="reports__grid">
        <div class="form__input">
          <% @dictionary = Dictionary.new %>
          <%= f.label :status, 'Estado', class: "form__input-label" %>
          <%= f.select :status_eq, options_for_select(@dictionary.requestStatuses.invert().each()), { include_blank: "Seleccione el estado" }, class: "form__input-select" %>
        </div>

        <div class="form__input">
          <%= f.label 'Desde', class: "form__input-label" %>
          <%= f.text_field :created_at_gteq, class: "form__input-textfield", type: "date" %>
        </div>

        <div class="form__input">
          <%= f.label 'Hasta', class: "form__input-label" %>
          <%= f.text_field :created_at_lteq, class: "form__input-textfield", type: "date" %>
        </div>
        
        <div class="reports__button">
          <%= f.submit "Buscar", class: "form__button-submit" %>
        </div>
      </div>
    <% end %>

    <hr class="mb-3">

    <div id="requests">
      <% if !@requests.nil? %>
        <h3 class="form__subheading form__subheading--table text-left">
          Resultados: <span class="fw-normal"><%= @requests.size %></span>
        </h3>
      <% end %>
      <%= render partial: 'request_list', locals: { requests: @requests } %>
    </div>
  </div>
</main>