<main class="main">
  <div class="container form">
    <h1 class="form__heading">Estado de solicitud</h1>
    <hr class="mb-3">

    <%= render @request %>

    <div class="button-group">
      <% if !current_user_account && @request.status == "closed" %>
        <%= link_to "Agregar retroalimentación", new_feedback_path(:request_id => @request.hashid), class: "form__button-submit" %>
      <% end %>

      <% if current_user_account && @request.status == "closed" && !@feedback.nil? %>
        <%= link_to "Ver retroalimentación", feedback_url(@feedback), class: "form__button-submit" %>
      <% end %>

      <% if @request.status == "pending" && current_user_account %>
        <%= link_to "Atender", change_status_request_path(request), class: "form__button-submit" %>
      <% end %>

      <%= link_to "Regresar", current_user_account ? :back : root_path, class: "form__button-back" %>
    </div>
  </div>
</main>