<%= form_with(model: task_observation) do |form| %>
  <% if task_observation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task_observation.errors.count, "error") %> prohibited this task_observation from being saved:</h2>

      <ul>
        <% task_observation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :task_id, style: "display: block" %>
    <%= form.number_field :task_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
