<p style="color: green"><%= notice %></p>

<%= render @task_observation %>

<div>
  <%= link_to "Edit this task observation", edit_task_observation_path(@task_observation) %> |
  <%= link_to "Back to task observations", task_observations_path %>

  <%= button_to "Destroy this task observation", @task_observation, method: :delete %>
</div>
