<%= form_with(model: feedback) do |form| %>
  <div class="form__input--mandala">
    <label for="request_id" class="form__input-label">Código de solicitud</label>
    <input type="text" id="request_id" class="form__input-textfield" value="<%= @request.identifier %>" disabled>
  </div>

  <div class="d-none">
    <%= form.label :request_id %>
    <%= form.hidden_field :request_id, value: @request.id %>
  </div>

  <div class="form__input--mandala">
    <%= form.label "Comentarios u observaciones", class: "form__input-label" %>
    <%= form.text_area :observations, placeholder: "Agregar comentario", class: "form__input-textarea", rows: "5" %>
  </div>

  <div class="form__input">
    <%= form.label "Nivel de satisfacción", class: "form__input-label" %>

    <div class="form__check-group mt-4">
      <div class="form__input-radio">
        <%= form.label "Muy positiva", class: "form__input-label fs-normal" %>
        <%= form.radio_button :satisfaction, 5, :name => "satisfaction" %>
      </div>

      <div class="form__input-radio">
        <%= form.label "Positiva", class: "form__input-label fs-normal" %>
        <%= form.radio_button :satisfaction, 4, :name => "satisfaction" %>
      </div>

      <div class="form__input-radio">
        <%= form.label "Neutral", class: "form__input-label fs-normal" %>
        <%= form.radio_button :satisfaction, 3, :name => "satisfaction" %>
      </div>

      <div class="form__input-radio">
        <%= form.label "Negativa", class: "form__input-label fs-normal" %>
        <%= form.radio_button :satisfaction, 2, :name => "satisfaction" %>
      </div>

      <div class="form__input-radio">
        <%= form.label "Muy negativa", class: "form__input-label fs-normal" %>
        <%= form.radio_button :satisfaction, 1, :name => "satisfaction" %>
      </div>
    </div>
  </div>

  <div class="button-group mt-5 pt-4">
    <%= form.submit "Enviar retroalimentación", class: "form__button-submit", id: "add-button" %>
    <%= link_to "Regresar", :back, class: "form__button-back" %>
  </div>
<% end %>