<div class="input input-50">
  <label for="request-id">Número de solicitud</label>
  <input type="text" name="request-id" id="request-id" value="S<%= @request.id %>-0<%= request.campus.campus_id%>-<%= request.created_at.strftime("%d%m%Y") %>" readonly disabled>
</div>

<%= form_with(model: feedback) do |form| %>
    <div class="input input-50">
      <%= form.label "Comentarios u observaciones" %>
      <%= form.text_area :observations, rows: "6", placeholder: "Agregar comentario" %>
    </div>
    <div class="d-none">
      <%= form.label :request_id, style: "display: block" %>
      <%= form.hidden_field :request_id, value: @request.id, class: "form-control" %>
    </div>
    <div class="input input-50">
      <%= form.label "Nivel de satisfacción", style: "display: block" %>
      <div class="input-form-check">
        <div class="form-check">
          <%= form.label "Muy negativa"%>
          <%= form.radio_button :satisfaction, 1, :name => "satisfaction" %>
        </div>
        <div class="form-check">
          <%= form.label "Negativa"%>
          <%= form.radio_button :satisfaction, 2, :name => "satisfaction" %>
        </div>
        <div class="form-check">
          <%= form.label "Neutral"%>
          <%= form.radio_button :satisfaction, 3, :name => "satisfaction" %>
        </div>
        <div class="form-check">
          <%= form.label "Positiva"%>
          <%= form.radio_button :satisfaction, 4, :name => "satisfaction" %>
        </div>
        <div class="form-check">
          <%= form.label "Muy positiva"%>
          <%= form.radio_button :satisfaction, 5, :name => "satisfaction" %>
        </div>
      </div>
    </div>

    <div class="button-group form-buttons pt-4">
      <%= form.submit "Enviar", class: "btn-default btn-submit" %>
      <%= link_to "Regresar", :back, class: "btn-default btn-back" %>
    </div>
<% end %>
