<div>
  <div class="container">
    <%= render "/requests/request", request: @request %>
  </div>
  <br>
  <div class="container mt-3 mb-3 p-4 border border-2 rounded-3">
    <h5>Observaciones:</h5>
    <div class="container overflow-auto">
      <% if @observations.length == 0 %>
        <p>No se ha agregado ninguna observaci贸n</p>
      <% else %>
        <% @observations.each do |observation| %>
          <p>[<%= observation.created_at.strftime("%d/%m/%Y") %>]: <%= observation.description %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="container mt-3 mb-3 p-4 border border-2 rounded-3">
    <% if @request.status != "completed" %>
      <h5 class="text-center">Agregar observaci贸n:</h5>
      <p class="text-center">(Esta es una acci贸n irreversible)</p>
      <%= form_with(model: @task, local: true) do |f| %>
        <%= f.fields_for :observations do |observation| %>
          <%= observation.text_area :description %>
        <% end %>
        <%= f.hidden_field :request, value: @request.id %>
        <%= button_tag(class: "btn btn-primary") do %>
          <i class="bi bi-plus-circle"></i>
          Agregar observaci贸n
        <% end %>
      <% end %>
      <%= link_to  change_status_request_path(@request, :task_id => @task), class: "btn btn-primary" do %>
        <i class="bi bi-check2-square"></i>
        Finalizar trabajo
      <% end %>
    <% end %>
  </div>
</div>
