<main class="main">
  <div class="container form form--mandala">
    <h1 class="form__heading--mandala">Ingreso al sistema</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form__input--mandala">
        <%= f.label "Correo electrónico", class: "form__input-label" %>
        <%= f.text_field :email, placeholder: "Correo electrónico", class: "form__input-textfield" %>
      </div>

      <div class="form__input--mandala">
        <%= f.label "Contraseña", class: "form__input-label" %>
        <%= f.password_field :password, placeholder: "Contraseña", class: "form__input-textfield" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form__links">
          <div class="remerber-me">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Recordarme", class: "form__link" %>
          </div>

          <%= render "user_accounts/shared/links" %>
        </div>
      <% end %>

      <div class="button-group">
        <%= f.submit "Iniciar sesión", class: "form__button-submit" %>
        <%= link_to "Regresar", root_path, class: "form__button-back" %>
      </div>
    <% end %>
  </div>
</main>