<div class="container mt-3 pt-5 pb-5 ps-5 pe-5 border border-2 rounded-3">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">Iniciar sesión</h1>
    </div>
  </div>
  <div class="row">
    <div class="d-grid gap-2 ">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <br>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <br>
        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Recordarme" %>
          </div>
        <% end %>
        <br>
        <div class="form-group">
          <%= f.submit "Iniciar sesión", class: "btn btn-primary" %>
        </div>
      <% end %>
      <%= render "user_accounts/shared/links" %>
    </div>
  </div>
</div>
