<main class="main">
  <div class="container main-form form-pad-lg bg-mandala">
    <h1 class="mb-5">Ingreso al sistema</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form") do |f| %>
      <div class="input input-50 email">
        <%= f.label "Correo electr칩nico" %>
        <%= f.text_field :email, placeholder: "Correo" %>
      </div>

      <div class="input input-50 password">
        <%= f.label "Contrase침a" %>
          <%= f.password_field :password, placeholder: "Contrase침a" %>
      </div>

      <div class="login-links">
        <% if devise_mapping.rememberable? %>
          <div class="remember-me">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Recordarme" %>
          </div>
        <% end %>
        <%= render "user_accounts/shared/links" %>
      </div>

      <div class="button-group form-buttons">
        <%= f.submit "Iniciar sesi칩n", class: "btn-default btn-submit" %>
        <%= link_to "Regresar", root_path, class: "btn-default btn-back" %>
      </div>
    <% end %>
  </div>
</main>