<%= form_with(model: request, local: true ,data: { turbo_method: :delete, turbo_confirm: "¿Rechazar esta solicitud?" }) do |f| %>
  <div data-controller="nested-form">
    <h4>Razones para rechazar:</h4>
    <div class="container m-3">
      <div class="m-3">
        <%= select_tag "deny_reasons" , options_for_select(@dictionary.denyReasons.invert.each), class: "form-select" %>
      </div>
      <div data-nested-form-target="add_item">
        <%= link_to "#", data: { action: "nested-form#add_association" }, class:"btn btn-sm btn-primary" do %>
          <i class="bi bi-plus"></i>
          Agregar razón
        <% end %>
      </div>
    </div>
    <div>
      <template data-nested-form-target="template">
        <%= f.fields_for :request_deny_reasons, RequestDenyReason.new, child_index: "TEMPLATE_RECORD" do |reason| %>
          <div class="container m-3">
            <%= render "requests/admin_views/deny_reason_fields", f: reason, request: request %>
          <% end %>
        </div>
      </template>
    </div>
    <div class="container m-3">
      <%= f.fields_for :request_deny_reasons do |reason| %>
        <div class="container m-3">
          <%= render "requests/admin_views/deny_reason_fields", f: reason, request: request %>
        </div>
      <% end %>
    </div>
  </div>
  <%= button_tag(class: "btn btn-primary") do %>
    Rechazar solicitud
  <% end %>
<% end %>
